<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <script src="../static/src/utils.js" type="application/javascript"></script>
        <title>
            SeeFood App
        </title>

        <style>


            #footer {
            position : absolute;
            align-content: center;
            bottom : 0;
            height : 40px;
            margin-top : 40px;
            }
        </style>

    </head>

    <body style="background-color: rgba(227,227,227,0.72)">

    <div id="main-panel" class="container-fluid">
        <img style="width: 40%" src="../static/jean.jpeg" class="rounded mx-auto d-block" alt="Erlich Cechman">
        <br>
        <div id="controlers_card" align="center" class="container" style="width: 40%; background-color: white; border-radius: 10px;">

            <form action="/" method="post" enctype="multipart/form-data">
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" name="image" class="custom-file-input" id="input-file" aria-describedby="inputGroupFileAddon04">
                    <label id="input-file-text" class="custom-file-label" for="input-file">Choose your food's image</label>
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-lg">Detect</button>
            </form>
        </div>
    </div>


    <div id="footer" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Hello friend!</strong> I am collecting data on you,sorry, you have got fucked
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    </body>
</html>